Xcursor.theme: Paper

! Font rendering

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt Variables

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.scrollBar: false

URxvt.font: xft:Ubuntu Mono:pixelsize=16
URxvt.borderless: true

