configuration {
    modi: "drun,ssh";
    font: "Ubuntu Mono 12";
    show-icons: false;
    location: 0;
    drun-match-fields: "name,exec";
    drun-display-format: "{name}";
    display-drun: "Launch";
    threads: 2;
}

@theme "tokyo_theme"
