[colours]
    bg     = #232323
    fg     = #FFFFFF
    grey   = #424242
    red    = #C14953
    orange = #E94F37
    purple = #7D60CC
    sky    = #449DD1
    yellow = #FFC857
    green  = #16DB65

[global/wm]
    margin-bottom = 0
    margin-top = 0

[settings]
    screenchange-reload = true

[bar/kanto_right]
    monitor = DVI-D-1
    offset-x = 2.5%
    offset-y = 12
    width = 95%
    height = 25
    radius = 5
    override-redirect = false
    wm-restack = bspwm

    background = ${colours.bg}
    foreground = ${colours.fg}

    line-size = 2

    fixed-center = true
    bottom = false

    module-margin-left  = 2
    module-margin-right = 2
    padding-left  = 2
    padding-right = 4

    modules-left   = bspwm
    modules-center = music
    modules-right  = fs_root fs_home volume date power

    tray-detached = true
    tray-position = right
    tray-offset-x = -4

    font-0 = Noto Sans CJK JP:size=11;1
    font-1 = Font Awesome:pixelsize=11;1
    font-2 = DejaVuSans:pixelsize=11;1

[bar/kanto_left]
    monitor = DP-1
    offset-x = 2.5%
    offset-y = 12
    width = 95%
    height = 25
    radius = 5
    override-redirect = false
    wm-restack = bspwm

    background = ${colours.bg}
    foreground = ${colours.fg}

    line-size = 2

    fixed-center = true
    bottom = false

    module-margin-left  = 2
    module-margin-right = 2
    padding-left  = 2
    padding-right = 17

    modules-left   = bspwm
    modules-center = music
    modules-right  = temp memory cpu volume date

    font-0 = Noto Sans CJK JP:size=11;1
    font-1 = Font Awesome:pixelsize=11;1
    font-2 = DejaVuSans:pixelsize=11;1

; @Note: This is my 4K monitor. Not really doing much with it in terms
; of polybar. Nothing works correctly on Xorg anyway because scaling
; is completely broken
[bar/kanto_middle]
    monitor = DP-2
    offset-x = 2.5%
    offset-y = 24
    width = 95%
    height = 50
    radius = 10
    override-redirect = false
    wm-restack = bspwm

    background = ${colours.bg}
    foreground = ${colours.fg}

    line-size = 4

    fixed-center = true
    bottom = false

    module-margin-left = 2
    module-margin-right = 2
    padding-left = 2
    padding-right = 4

    modules-left   = bspwm
    modules-center = music
    modules-right  = volume date

    font-0 = Noto Sans CJK JP:size=22;1
    font-1 = Font Awesome:pixelsize=22;1
    font-2 = DejaVuSans:pixelsize=22;1

[module/bspwm]
    type = internal/bspwm
    pin-workspaces = true

    ;ws-icon-0 = "3;"
    ;ws-icon-1 = "5;"
    ;ws-icon-2 = "6;"
    ;ws-icon-3 = "7;"
    ;ws-icon-4 = "8;"
    ;ws-icon-5 = "1;"
    ;ws-icon-6 = "2;"
    ;ws-icon-7 = "4;"
    ;ws-icon-8 = "9;"
    ;ws-icon-9 = "10;"

    ws-icon-0 = "1;"
    ws-icon-1 = "2;"
    ws-icon-2 = "3;"
    ws-icon-3 = "4;"
    ws-icon-4 = "5;"
    ws-icon-5 = "6;"
    ws-icon-6 = "7;"
    ws-icon-7 = "8;"
    ws-icon-8 = "9;"
    ws-icon-9 = "10;"

    format = <label-state> <label-mode>

    label-focused = %icon%
    label-focused-padding = 2
    label-focused-underline = ${colours.fg}
    label-focused-foreground = ${colours.fg}

    label-dimmed = %icon%
    label-dimmed-padding = 2
    label-dimmed-underline = ${colours.bg}
    label-dimmed-foreground = ${colours.grey}

    label-occupied = %icon%
    label-occupied-padding = 2
    label-occupied-underline = ${colours.bg}
    label-occupied-foreground = ${colours.grey}

    label-empty =

[module/music]
    type = custom/script
    exec = mediactrl
    interval = 1

    click-left   = mediactrl prev
    click-right  = mediactrl next
    click-middle = mediactrl toggle

[module/fs_abstract]
    type = internal/fs
    interval = 60

    format-mounted-prefix = " "
    format-mounted = <label-mounted>
    format-mounted-underline = ${colours.green}

[module/fs_root]
    inherit = module/fs_abstract

    mount-0 = /
    label-mounted = Root: %percentage_used%%

[module/fs_home]
    inherit = module/fs_abstract

    mount-0 = /home
    label-mounted = Home: %percentage_used%%

[module/temp]
    type = internal/temperature
    interval = 5

    ; @Todo: The hwmon solution doesn't work because the path changes on computer restart
    ; However, I haven't tested to see if the thermal zones change on restart so this could be better
    thermal-zone = 2
    base-temperature = 20
    warn-temperature = 80

    ramp-0 = " "
    ramp-1 = " "
    ramp-2 = " "
    ramp-3 = " "
    ramp-4 = " "
    ramp-foreground = ${colours.fg}

    format = <ramp> <label>
    format-underline = ${colours.orange}

    format-warn = <ramp> <label-warn>
    format-warn-underline = ${colours.red}

    label = %temperature-c%
    label-warn = %temperature-c%
    label-warn-foreground = ${colours.red}

[module/memory]
    type = internal/memory

    format-prefix = " "
    format = <label>
    format-underline = ${colours.yellow}
    label = %gb_free%

[module/cpu]
    type = internal/cpu
    format-prefix = " "
    format = <label>
    format-underline = ${colours.purple}
    label = %percentage%%

[module/volume]
    type = internal/pulseaudio

    sink =

    ramp-volume-0 = " "
    ramp-volume-1 = " "
    ramp-volume-2 = " "

    format-volume = <ramp-volume> <label-volume>
    format-volume-underline = ${colours.sky}
    label-muted =   %percentage%%
    label-muted-underline = ${colours.sky}
    label-muted-foreground = ${colours.grey}

    interval = 5

[module/date]
    type = internal/date
    interval = 30

    date = %a %d %b
    time = %H:%M

    date-alt = %d %B %Y
    time-alt = %H:%M

    format-prefix = " "
    format-underline = ${colours.red}

    label = %date%, %time%

[module/power]
    type = custom/menu

    label-open = 
    label-close = ""
    label-separator = "   "

    menu-0-0 = ""
    menu-0-0-exec = lock

    menu-0-1 = ""
    menu-0-1-exec = systemctl suspend

    menu-0-2 = ""
    menu-0-2-exec = zenity --question --no-wrap --text="Are you sure you want to shutdown?" && shutdown now

